<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941853313249-hikoc5c8spn8nh36throo216pn1tgn5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941853313249-hikoc5c8spn8nh36throo216pn1tgn5f</string>
	<key>API_KEY</key>
	<string>AIzaSyBb07RK_PC5jtifXyM1gnKUJnedk0GWTYw</string>
	<key>GCM_SENDER_ID</key>
	<string>941853313249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fukase.flutterchat</string>
	<key>PROJECT_ID</key>
	<string>chat-74e6a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-74e6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941853313249:ios:475f6edad53de361420fa0</string>
	<key>DATABASE_URL</key>
	<string>https://chat-74e6a.firebaseio.com</string>
</dict>
</plist>